.auth-box {
  max-width: 400px;
  margin: 60px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.auth-box button {
  width: 100%;
  background: #0d6efd;
  color: white;
  padding: 10px;
}
