.navbar {
  background: #0d6efd;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  margin-left: 15px;
  color: white;
  font-weight: 500;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}
